/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Unica One */
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Noto Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-center-center {
		@apply flex justify-center items-center;
	}
	.flex-start-center {
		@apply flex justify-start items-center;
	}
	.flex-end-center {
		@apply flex justify-end items-center;
	}
	.flex-center-start {
		@apply flex justify-center items-start;
	}
	.flex-center-end {
		@apply flex justify-center items-end;
	}
}

html {
	height: 100%;
	padding: 0.01px;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100%;
	padding: 0.01px;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* #root {
	height: 100%;
	padding: 0.01px;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
} */

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	color: white;

	/* font-family: system-ui; */
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
	background: rgba(18, 17, 17, 0.25);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

/* clerk */

/* a tags use phone tages */
.cl-formFieldAction {
	color: white;
}

.cl-formFieldAction:hover {
	color: rgb(184, 184, 184);
}

/*  a tags - sign in - sign up footer link */
.cl-footerActionLink {
	color: white;
}

.cl-footerActionLink:hover {
	color: rgb(184, 184, 184);
}

/* reset you password button  */
.cl-alternativeMethodsBlockButton {
	color: white;
}

/* baclLink button same page with reset your password button */
.cl-backLink {
	color: white;
	font-weight: 600;
}

/* update password button after sign in setting page */
.cl-profileSectionPrimaryButton {
	color: white;
}

.cl-profileSectionPrimaryButton:hover {
	color: white;
}

/* didnt recieved the code - reset password form  */
.cl-formResendCodeLink {
	color: white;
}

/* save buttons color settings after signed-in */
.cl-formButtonPrimary {
	color: white;
}

/* cancel buttons color after sign in */
.cl-formButtonReset {
	color: white;
}
.cl-formButtonReset:hover {
	color: white;
}

/** Classes for the displayed toast **/
.Toastify__toast {
	background: black !important;
	border: 1px solid rgb(65, 65, 65);
	width: 20rem !important;

	text-align: center;
}

.Toastify__toast-theme--dark {
	background: black !important;
	border: 1px solid rgb(65, 65, 65);
	width: 20rem !important;

	text-align: center;
}

.Toastify__toast--default {
	background: black !important;
	border: 1px solid rgb(65, 65, 65);
	width: 20rem !important;

	text-align: center;
}
